<br>
<h1 class ="ui header">UToob Movies</h1>
<hr>

<div class="ui divided items">
 <% @movies.each do |movie| %>
   <div class="item">

      
      <div class="content">
        <h3><%= movie.title %></h3>
        <br>
        <p>Duration: <%= movie.duration %></p>
        <p>Genre: <%= movie.genre %> </p>
        <p>Description: <%= movie.description %> </p>
        <p>Trailer: <%= movie.trailer %> </p>
      <div>
    <hr>
  </div>
 <% end %>
  
</div>