
<h3>UToob Movies</h3>

<ul>
 <% @movies.each do |movie| %>
 <li>
   <h3><%= movie.title %></h3>
   <br>
   <%= movie.duration %>
   <br>
   <%= movie.genre %>
   <br>
   <%= movie.description %>
   <br>
   <%= movie.trailer %>
   <hr>
  </li>
 <% end %>
</ul>
